.reactPlayer {
    position: absolute;
    top: 0px;
    left: 10px;
}
#smPlayerWrapper {
    position: relative;
    padding-top: 72.25%;
}
#playerWrapper {
    position: relative;
    padding-top: 52.25%;
}
#songinfo {
    border-left: 1px dashed rgb(175, 175, 175);
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}