.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.spinner{
  position: "fixed";
  top: 50%;
  left: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.body{
  width: 100%;
  height :100%;
  background : linear-gradient(to bottom, #ced1f8 30%, #ebf2ff, #ebf4ff);
}
.footer{
  background-color: grey;
  position:relative;
  bottom:0;
  width:100%;
  height: 40px; 
  padding: 10px;
  text-align: center;
}
.full {
  width: 100%;
  height :82vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}