#smcard {
    position: relative;
    padding-left : 50px;
}

.card {
    position: relative;
    height: 110%;
    max-height: 30rem;
    max-width: 18rem;
    margin : 10px;
}
.cardimg {
    position: relative;
    width: 90%;
    max-height: 18rem;
    margin : 15px;
}

.btn {
    position: relative;
    width: 80%;
    height: 80%;
    top : 45px;
    z-index: 2;
}
.smbtn {
    position: relative;
    width: 300%;
    height: 100%;
    right: 20px;
    top : 10px;
    z-index: 2;
}